<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Release</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="componentName" placeholder="Component Name"
                                               type="text"
                                               [(ngModel)]="component.componentName"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="repositoryUrl" placeholder="Repository"
                                               type="text"
                                               [(ngModel)]="component.repositoryUrl"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="branch" placeholder="Branch" type="text"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="versionNumber" placeholder="Version"
                                               type="text"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="description" placeholder="Description"
                                               type="text"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button mat-raised-button type="submit" class="btn"
                                        style="color: #fff;
                background-color: #35ACEB;
                border-color: #35ACEB;
                box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);"
                                        (click)="handleClick()">
                                    Add
                                </button>
                                <button mat-raised-button type="button" routerLink="/component" class="cancelButton">
                                    Cancel
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
