<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add Release</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="componentName" placeholder="Component Name" type="text"
                      [(ngModel)]="component.componentName" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="repositoryUrl" placeholder="Repository" type="text"
                      [(ngModel)]="component.repositoryUrl" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="branch" placeholder="Branch" type="text" />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="versionNumber" placeholder="Version" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="description" placeholder="Description" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="pull-right">
                <button mat-raised-button type="submit" class="btn"
                  style="color: #fff;
                background-color: #35ACEB;
                border-color: #35ACEB;
                box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);" (click)="handleClick()">
                  Add
                </button>
                <button mat-raised-button type="button" routerLink="/component" class="cancelButton">
                  Cancel
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div class="card" style="margin-top: 40px;">
          <div class="addButton">

            <div class="example-button-container" style="position: relative; float: right">
              <button mat-fab style="background-color: #35ACEB">
                <mat-icon>add</mat-icon>
              </button>
            </div>

          </div>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Releases</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <th>
                    Component
                  </th>
                  <th>
                    Branch
                  </th>
                  <th style="text-align: center;">
                    Version
                  </th>
                  <th>
                    Description
                  </th>
                  <th style="text-align: center;">
                    Added Time
                  </th>
                  <th>
                    Added By
                  </th>
                  <th>
                    Released Time
                  </th>
                  <th>
                    Released By
                  </th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr style="text-align: left;" *ngFor="let release of releases">
                    <td style="padding-left: 10px;">
                      {{ release.componentName }}
                    </td>
                    <td style="padding-left: 10px;">
                      {{ release.branch }}
                    </td>
                    <td style="padding-left: 10px; text-align: center;">
                      {{ release.versionNumber }}
                    </td>
                    <td style="padding-left: 10px;">
                      {{ release.description }}
                    </td>
                    <td style="padding-left: 10px; text-align: center;">
                      {{ release.createdAt | date: "yyyy-MM-dd HH:mm:ss" }}
                    </td>
                    <td style="padding-left: 10px;">

                    </td>
                    <td style="padding-left: 10px;">

                    </td>
                    <td style="padding-left: 10px;">

                    </td>
                    <td style="padding-left: 10px;">
                      <button mat-raised-button type="submit" class="btn pull-right" (click)="releaseInCircleCi(release.id, release.repositoryUrl)"
                        style="color: #fff;
                      background-color: #35ACEB;
                      border-color: #35ACEB;
                      box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);">
                        Release Now
                      </button>
                    </td>
                    <td class="clickable">
                      <span class="material-icons" (click)="deleteReleaseById(release.id)">
                        delete
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
