<p>add-release works!</p>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Component</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Component</mat-label>
                                        <mat-select formControlName="componentId" (selectionChange)="onChange($event)">
                                            <mat-option *ngFor="let component of components" [value]="component.id">
                                                {{ component.componentName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Version Number</mat-label>
                                        <mat-select (selectionChange)="onVersionChange($event)">
                                            <mat-option *ngFor="let releaseModel of releaseModels"
                                                        [value]="releaseModel.versionNumber">
                                                {{ releaseModel.versionNumber }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button mat-raised-button type="submit" class="btn" (click)="handleClick()" style="color: #fff;
                background-color: #35ACEB;
                border-color: #35ACEB;
                box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);">
                                    Add
                                </button>
                                <button mat-raised-button type="button" routerLink="/environmet-data"
                                        class="cancelButton">
                                    Cancel
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
