<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add a New Component</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <mat-form-field class="example-full-width">
                                <mat-label>Component Type</mat-label>
                                <mat-select formControlName="componentTypeId" (selectionChange)="onChange($event)">
                                    <mat-option
                                            *ngFor="let componentType of componentTypes"
                                            [value]="componentType.id"
                                    >
                                        {{ componentType.type }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input
                                                matInput
                                                formControlName="componentName"
                                                placeholder="Component Name"
                                                type="text"
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input type="text"
                                               placeholder="Repository"
                                               matInput
                                               [formControl]="repositoryUrl"
                                               [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete"
                                                          (optionSelected)="onOptionChange($event.option)">
                                            <mat-option *ngFor="let bitbucketRepositoryModel of filteredOptions | async"
                                                        [value]="bitbucketRepositoryModel.slug">
                                                {{bitbucketRepositoryModel.slug}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button
                                        mat-raised-button
                                        type="submit"
                                        *ngIf="!isUpdate"
                                        class="btn" style="color: #fff;
                  background-color: #35ACEB;
                  border-color: #35ACEB;
                  box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);"
                                        (click)="handleClick()"
                                >
                                    Save
                                </button>
                                <button
                                        mat-raised-button
                                        type="submit"
                                        *ngIf="isUpdate"
                                        class="btn btn-danger"
                                        (click)="updateComponent()"
                                >
                                    Update
                                </button>
                                <button
                                        mat-raised-button
                                        type="submit"
                                        *ngIf="isUpdate"
                                        class="btn btn-danger"
                                >
                                    Delete
                                </button>
                                <button
                                        mat-raised-button
                                        type="button"
                                        class="cancelButton"
                                        (click)="resetForm()"
                                >
                                    Clear
                                </button>
                                <button
                                        mat-raised-button
                                        type="button"
                                        routerLink="/component"
                                        class="cancelButton"
                                >
                                    Cancel
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
