<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="addButton">

                        <div class="example-button-container" style="position: relative; float: right">
                            <button mat-fab style="background-color: #35ACEB" routerLink="/add-environment">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>

<!--                        <button mat-raised-button type="submit" class="btn pull-right" style="color: #fff;-->
<!--  background-color: #35ACEB;-->
<!--  border-color: #35ACEB;-->
<!--  box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12); "-->
<!--                                routerLink="/add-environment">-->
<!--                            Add a New Environment-->
<!--                        </button>-->

                    </div>
                    <div class="card-header card-header-danger" style="margin-top: 1px">
                        <h4 class="card-title">Environments</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <th>
                                    Environment Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th style="text-align: center;">
                                    Added Time
                                </th>
                                <th>
                                    Added By
                                </th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr style="text-align: left;" *ngFor="let environmentModel of environmentModels">
                                    <td style="padding-left: 10px;">
                                        {{ environmentModel.environmentName }}
                                    </td>
                                    <td style="padding-left: 10px;">
                                        {{ environmentModel.description }}
                                    </td>
                                    <td style="padding-left: 10px; text-align: center;">
                                        {{
                                        environmentModel.createdAt | date: "yyyy-MM-dd HH:mm:ss"
                                        }}
                                    </td>
                                    <td style="padding-left: 10px;"></td>
                                    <td style="padding-left: 10px;">
                                        <button mat-raised-button type="submit" class="btn pull-right" style="color: #fff;
  background-color: #35ACEB;
  border-color: #35ACEB;
  box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12); "
                                                [routerLink]="['/edit-environment', environmentModel.id]">
                                            View
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
