<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-titile">{{ environment.environmentName }}</h2>
                        <h4 class="card-title">Add Component</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Component</mat-label>
                                        <mat-select formControlName="componentId" (selectionChange)="onChange($event)">
                                            <mat-option *ngFor="let component of components" [value]="component.id">
                                                {{ component.componentName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Version Number</mat-label>
                                        <mat-select (selectionChange)="onVersionChange($event)">
                                            <mat-option *ngFor="let releaseModel of releaseModels"
                                                        [value]="releaseModel.versionNumber">
                                                {{ releaseModel.versionNumber }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button mat-raised-button type="submit" class="btn" (click)="handleClick()" style="color: #fff;
                background-color: #35ACEB;
                border-color: #35ACEB;
                box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);">
                                    Add
                                </button>
                                <button mat-raised-button type="button" routerLink="/environmet-data"
                                        class="cancelButton">
                                    Cancel
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card" style="margin-top: 40px;">
                    <div class="addButton">

                        <div class="example-button-container" style="position: relative; float: right">
                            <button mat-fab style="background-color: #35ACEB">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>

                    </div>
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Components</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <th>
                                    Component
                                </th>
                                <th style="text-align: center;">
                                    Repository
                                </th>
                                <th style="text-align: center;">
                                    Deployed Version
                                </th>
                                <th style="text-align: center;">
                                    Latest Version
                                </th>
                                <th style="text-align: center;">
                                    Deploy Time
                                </th>
                                <th>
                                    Deployed By
                                </th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr style="text-align: left;" *ngFor="let deployment of deploymentEnhancedModels">
                                    <td style="padding-left: 10px;">
                                        {{ deployment.componentName }}
                                    </td>
                                    <td style="padding-left: 10px; text-align: center;">
                                        {{ deployment.repositoryUrl }}
                                    </td>
                                    <td style="padding-left: 10px; text-align: center;">
                                        {{ deployment.deployedVersionNumber }}
                                    </td>
                                    <td style="padding-left: 10px; text-align: center;">
                                        {{ deployment.latestVersionNumber }}
                                    </td>
                                    <td style="padding-left: 10px; text-align: center;">
                                        {{ deployment.createdAt }}
                                    </td>
                                    <td style="padding-left: 10px;">

                                    </td>
                                    <td style="padding-left: 10px;">
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <button mat-raised-button type="submit" class="btn pull-right" style="color: #fff;
                      background-color: #35ACEB;
                      border-color: #35ACEB;
                      box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);"
                                                (click)="deploy(deployment.id, deployment.repositoryUrl)">
                                            Deploy Now
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
